@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #1e1e1e;
}

.home-page {
  background: linear-gradient(
    90deg,
    rgba(239, 51, 64, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
